@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}


.hiddenNavTop {
    height: 0;
    width: 0;   
}


footer {
    margin-bottom: 20%;
    }


@media screen and (min-width: 320px){
        body {
            
        }
        
        /* disables scrolling when someone presses hambruger menu */
        body.isActive {
            
        }
        .topNav {
            visibility: hidden;
            height: 0;
            width: 0;
        }
    
        .signUpFormContainer {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 8%;
            top: 1000%;
            z-index: 5;
            width: 85%;
            height: 80%;
            background-color: rgba(255, 255, 255, 0.95);
            border-radius: 2%;
            transition: none;
            /* background-image: url(images/restaurant.jpg);
            background-size: cover;
            background-repeat: no-repeat; */
            
        }
    
        .signUpFormContainer .signUpForm {
            display: flex;
            flex-direction: column;
            
            gap: 20px;
        }
        
        .signUpFormContainer .signUpButtonContainer {
            display: flex;
            gap: 10px;
            
        }
        .signUpFormContainer .signUpButtonContainer .submitButton{
            width: 100%;
            height: 50%;
        }
    
        .signInFormContainer {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 8%;
            top: -5000%;
            z-index: 5;
            width: 85%;
            height: 80%;
            background-color: rgba(255, 255, 255, 0.95);
            border-radius: 2%;
            transition: none;
            /* background-image: url(images/restaurant.jpg);
            background-size: cover;
            background-repeat: no-repeat; */
            
        }
    
        .signInFormContainer .signInForm {
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 40%;
            
        }
        
        .signInFormContainer .signInButtonContainer {
            display: flex;
            height: 100%;
            gap: 8px;
            
        }
        .signInFormContainer .signInButtonContainer .submitButton{
            width: 100%;
            height: 40%;
            align-self: flex-end;
            
        }
    
        .navContainer {
            left:100%;
            height: 84%;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            z-index: 1;
            position: fixed;
            bottom: 16%;
            gap: 2em;
            background-color: #1F2937;
            transition: 0.4s;
            
        }
    
        .navContainer .logo {
            visibility: hidden;
        }
    
        .navContainer .userProfile {
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10%; 
            
            
        }
        .navContainer .userProfile .profilePic img{
            
            width: 80px;
            height: 80px;
            border-radius: 50%;
            
        }
    
        .navContainer .userProfile .userName {
            color: white;
            margin-top: 5px;
        }
    
        .navContainer.isActive {
            left: 30%;  
        }
    
        .navContainer ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            gap: 40px;
            
        }
    
        .navContainer a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .navContainer li {
            display: flex;
            
            color: white;
            font-size: 40px;
            transition: 0.2s ease-out;
                  
        }
        li:hover {
            color: lightblue;
            transition: all 0.2s ease;
        }
        .navContainer ul .signContainer{
            display: flex;
            height: 30%;
            gap: 10px;
            
        }
        .navContainer .signContainer .signUp button{
            width: 100%;
            height: 65%;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16.44px;
            cursor: pointer;
          }
    
        .navContainer .signContainer .signIn button{
          height: 50%;
          width: 100%;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          color: white;
          border-style: none;
          background-color: transparent;
          cursor: pointer;
          
        }
    
        .navContainer ul .signContainer .signIn button:hover {
            border-style: solid;
            border-color: white;
            
            padding: 20px;
            
        }
        .hiddenNav {
            z-index: 1;
            position: fixed;
            display: flex;
            
            flex-direction: row;
            width: 100%;
            height: 15%;
            bottom: 0;
            background-color:  #1F2937;
            justify-content: space-between;
        }
    
        .hiddenNav .logo {
            /* align-self: flex-start; */
            border: solid;
            align-self: center;
            padding: 4px;
            margin-left: 0.5em;
            font-size: 30px;
            color:  white;
        }
    
        
        .hiddenNav .hamburger {
            z-index: 3;
            align-self: center;
            display: block;
            height: 85px;
            width: 60px;
            margin-right: 5%;

            margin-top: min(30px, 50%);
            
            background: #1F2937;
            flex-direction: column;
            border-color: #1F2937;
            border: none;
            cursor: pointer;
            
         }
         /* This will transform the hamburger menu into into X's when clicked */
        .hiddenNav  .isActive #bar3 {
            transform: translate(0, -300%) rotate(45deg);
         }
    
        .hiddenNav .isActive #bar2{
            opacity: 0;
         }
    
        .hiddenNav .isActive #bar1{
            transform: translate(0, 300%) rotate(135deg)
         }
    
        .bar {
            margin-top: 3px;
            background: white;
            width: 90%;
            height: 5px;
            transition: 0.4s;
            
         }
    
        #bar2 {
            margin-top: 10px;
         }
    
        #bar3 {
            margin-top: 10px;
         }
    
         .hiddenNav2 {
            z-index: 2;
            position: absolute;
            height: 100%;
            background-color: #1F2937;
         }
    
         .heroContainer {
            display: flex;
            flex-direction: column;
            height: 90%;
            transition: all 0.5s ease;
        } 
        .heroContainer.isActive {
            transition: all 0.4s ease;
            filter: brightness(25%);
             
        }
        
    
        .heroContainer .logoLanding {
            z-index: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;
            position: absolute;
            align-self: center;
            top: 40%;
            left: 9%;
            
            
        }
    
        .heroContainer .logoLanding h1 {
            color: mintcream;
            font-size: 40px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: flex-start;
            align-items: flex-start;
            
        }
    
        .heroContainer .logoLanding h1 span {
            border: solid;
            border-color: white;

        }

        .heroContainer .logoLanding p {
            color: white;
            font-size: 17px;
        }

        .heroContainer .logoLanding p #content1::after {
            white-space: pre;
            content: "\a";
        }

        .heroContainer img {
            height: 100%;
            filter: brightness(70%);
        }
        .heroContainer .heroInfo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: whitesmoke;
            padding: 20px;
            /* display: flex;
            flex-direction: column;
            height: 35%;
            gap: 12px; */
            
        }
    
        /* .heroContainer .heroInfo h2 {
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 30px;
        }
    
        .heroContainer .heroInfo p {
            font-size: 17px;
            align-self: center;
        } */
    
        .menuContainer {
            background-color: whitesmoke;
            transition: all 0.5s ease;
            display: flex;
            flex-direction: column;
            height: 90%;
            
        }
    
        .menuContainer.isActive {
            transition: all 0.4s ease;
            filter: brightness(25%);
             
        }
    
        .menuContainer h2 {
            padding: 10px;
            padding-bottom: 10px;
            font-size: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1F2937;
            color: mintcream;
        }
    
        .menuContainer div {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 95%;
              
        }
        .menuContainer div div {
            
            /* border: #1F2937;
            border-style: solid; */
            overflow: hidden;
            position: relative;   
        }
    
        .menuContainer div div p{
            position: absolute;
            padding-top: 10px;
            padding-left: 10px;
            font-size: 30px;
            color: rgb(246, 246, 246);
            background-color: rgba(0, 0, 0, 0.08);
            width: 100%;
            height: 100%;
        }
        .menuContainer div div img {
            /* display: flex;
            height: 10%; */
            width: 100%;
            object-fit: cover;
            
        }
        
    
        footer {
            margin-top: 15px;
            background-color: #1F2937;
            height: 30%;
        }
    
        footer.isActive {
            transition: all 0.4s ease;
            filter: brightness(25%);
             
        }
    
        footer .socialMediaContainer {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            padding-left: 30px;
            gap: 10px;
        }
        footer h3 {
            color: white;
    
        }
        footer .icons {
            display: flex;
            gap: 15px;
            padding-left: 3px;
        }
        footer img {
            border-radius: 50%;
        }
        footer .youtubeContainer img{
            height: 70px;
            width: 70px;
        }
        footer .tiktokContainer img{
            height: 77px;
            width: 77px;
        }
        footer .instagramContainer img{
            height: 70px;
            width: 70px;
            
        }   
    }

    
@media screen and (min-width: 400px) {
    .navContainer ul .signContainer{
        display: flex;
        height: 30%;
        gap: 45px;
        
    }
    .navContainer .signContainer .signUp button{
        width: 100%;
        height: 65%;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16.44px;
        cursor: pointer;
      }

    .navContainer .signContainer .signIn button{
      height: 50%;
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: white;
      border-style: none;
      background-color: transparent;
      cursor: pointer;
      
    }
}

/**
Desktop version
*/
@media screen and (min-width: 640px) {
    .navContainer {
        display: flex;
        height: 90%;
    }
    .navContainer ul {
        display: flex;
        height: 100%;
    }
    .navContainer ul li {
        font-size: 70px;
    }
    .navContainer .signContainer {
        width: 100%;
        justify-content: center;
    }
    
}

@media  screen and (min-width: 760px) {
    .hiddenNav .logo {
        font-size: 55px;
    }

    .heroContainer .logoLanding h1 {
        font-size: 60px;
    }
    
    .heroContainer .heroInfo h2 {
        font-size: 50px;
    }
    .heroContainer .heroInfo p {
        font-size: 30px;
        padding: 10px 10px;
    }

    .navContainer .signContainer{
        display: flex;
    }
    .navContainer .signContainer div {
        width: 90%;
        padding: 20px;
    }
    .navContainer .signContainer .signIn button {
        text-align: center;
        margin-top: 15px;
        margin-left: 17px;
        font-size: 35px;
    }
    .navContainer .signContainer .signUp button {
        font-size: 35px;
    }
    .signInFormContainer .signInForm h2 {
        font-size: 50px;
    }
    .signInFormContainer .signInForm div label{
        font-size: 30px;
    }
    .signInFormContainer .signInForm div input{
        font-size: 20px;
    }

    .signUpFormContainer .signUpForm h2 {
        font-size: 50px;
    }
    .signUpFormContainer .signUpForm div label{
        font-size: 30px;
    }
    .signUpFormContainer .signUpForm div input{
        font-size: 20px;
    }
}
@media screen and (min-width: 900px) {
    .topNav {
        visibility: visible;
        z-index: 1;
        position: fixed;
        display: flex;
            
        flex-direction: row;
        width: 100%;
        height: 8%;
        justify-content: space-between;
        background-color:  #1F2937;
        
    }
    .topNav .logo {
        /* align-self: flex-start; */
        border: solid;
        align-self: center;
        padding: 4px;
        margin-left: 0.5em;
        font-size: 30px;
        color:  white;
    }

    .topNav .navButtons {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-right: 20px;
    }

    .topNav .navButtons ul {
        font-size: 25px;
        list-style: none;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-right: 20px;
        
    }

    .topNav .navButtons ul li {
        color: white;
    }
    .topNav .navButtons ul li a{
        color: white;
        text-decoration: none;
        
    }
    .topNav .navButtons ul li a:hover{
        color: lightblue;
        
    }

    .topNav .navButtons .signContainer {
        gap: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .topNav .navButtons .signContainer div button{
        font-size: 25px;

    }

    .topNav .navButtons .signContainer .signIn button{
        font-size: 25px;
        border: none;
        background-color: transparent;
        color: white;
        
    }

    .topNav .navButtons .signContainer .signUp button{
        font-size: 25px;
        border: none;
        padding: 8px;
        border-radius: 3%;
        
        
    }

    .hiddenNav {
        height: 0;
        width: 0;   
    }
    .hiddenNav .logo {
        height: 0;
        width: 0;
        visibility: hidden;
        
    }
    .hiddenNavTop {
        z-index: 1;
        position: fixed;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 7%;
        background-color:  #1F2937;
        justify-content: space-between;
    }

    .hiddenNavTop .logo {
        
        align-self: flex-start;
        border: solid;
        align-self: center;
        padding: 4px;
        margin-left: 0.5em;
        font-size: 45px;
        color:  white;
    }

    
    .hiddenNavTop .hamburger {
        z-index: 3;
        align-self: flex-end;
        display: block;
        height: 80px;
        width: 60px;
        margin-right: 5%;
        margin-bottom: 5%; 
        background: #1F2937;
        flex-direction: column;
        border-color: #1F2937;
        border: none;
        cursor: pointer;
     }
     /* This will transform the hamburger menu into into X's when clicked */
    .hiddenNav  .isActive #bar3 {
        transform: translate(0, -300%) rotate(45deg);
     }

    .hiddenNav .isActive #bar2{
        opacity: 0;
     }

    .hiddenNav .isActive #bar1{
        transform: translate(0, 300%) rotate(135deg)
     }



    .hiddenNav2 {
        z-index: 2;
        position: absolute;
        height: 100%;
        background-color: #1F2937;
     }

    .navContainer {
        top: 5%;
        left:100%;
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 4;
        position: fixed;
        gap: 50px;
        background-color: #1F2937;
        transition: 0.4s;
        
    }
    
    .navContainer .userProfile .profilePic img{
        
        width: 300px;
        height: 320px;
        border-radius: 50%;
        
    }

    .navContainer .userProfile .userName{
        font-size: 50px;
        margin-top: 20px;
    }

    .navContainer ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        
        
    }

    .navContainer a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navContainer ul li {
        display: flex;
        
        color: white;
        font-size: 100px;
        transition: 0.2s ease-out;
              
    }
    
    .navContainer ul .signContainer{
        display: flex;
        
        height: 20%;
        
    }
    .navContainer .signContainer .signUp button{
        width: 100%;
        height: 45%;
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 60px;
        cursor: pointer;
      }

    .navContainer .signContainer .signIn button{
      height: 50%;
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      color: white;
      border-style: none;
      background-color: transparent;
      cursor: pointer;
      
    }

    .navContainer ul .signContainer .signIn button:hover {
        border-style: solid;
        border-color: white;
        list-style-type: none;
        padding: 20px;
        
    }

    .heroContainer {
        height: 100%;
    }

    .heroContainer .logoLanding h1 {
        font-size: 85px;
    }

    .heroContainer .heroInfo{
        
        padding-left: 70px;
        gap: 20px;
    }

    .heroContainer .heroInfo h2 {
        padding-top: 5%;
        font-size: 60px;
    }
    .heroContainer .heroInfo p {
        font-size: 30px;
    }

    .menuContainer {
        margin-top: 0%;
    }

    .menuContainer h2 {
        font-size: 80px;
    }
    
}

@media screen and (min-width: 1024px) {

    .topNav .navButtons {
        gap: 70px;
        
    }

    .topNav .navButtons ul {
        gap: 90px;    
    }

    .topNav .navButtons .signContainer {
        gap: 70px;
    }

    
    .hiddenNav {
        height: 0;
        width: 0;   
    }
    .hiddenNav .logo {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    
    
}

@media screen and (min-width: 1200px) {
    .heroContainer {
        flex-direction: column;
    }
    .heroContainer.isActive {
        transition: all 0.4s ease;
        filter: brightness(25%);
         
    }
    

    .heroContainer .logoLanding {
        /* z-index: 1; */
        top: 40%;
        background-color: rgba(0, 0, 0, 0.1);
        
    }

    .heroContainer .logoLanding h1 {
        color: mintcream;
        font-size: 90px;

    }

    .heroContainer .logoLanding h1 span {
        border: solid;
        border-color: white;
        
    }
    .heroContainer img {
        height: 100%;
        width: 100%;
    }
    .heroContainer .heroInfo{
        display: flex;
        position: absolute;
        top: 35%;
        left: 20%;
        height: 40%;
        width: 60%;
        padding-left: 0;
        gap: 20px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    .heroContainer .heroInfo h2 {
        
        font-size: 50px;
    }
    .heroContainer .heroInfo p {
        font-size: 30px;
        color: rgb(253, 254, 255);
        filter: brightness(5);
        background-color: rgba(0, 0, 0, 0.1);

    }
    
}

    


    

